BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SeparateDefinitionBlocks: Always
SortIncludes: Never
SortUsingDeclarations: Never
ReflowComments: false
FixNamespaceComments: false
BreakStringLiterals: false
BreakBeforeBraces: Attach
